@charset "UTF-8";

/* reset */
div, span, body,
header, main, section, footer,
h1, h2, h3, h4, h5, h6,
table, thead, tbody, tfoot, tr, th, td,
input, select, label, button, textarea,
ul, ol, li, dl, dt, dd,
a, strong, i, b, em, img {
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
}

ul, ol {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

/* common */
html {
  font-size: .625rem;
}

body {
  min-width: 32rem;
}

body, button, input, select, textarea {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.5;
  font-family: 'Chakra Petch', 'Noto sans KR', sans-serif;
  color: #333;
  overflow-wrap: break-word;
  word-break: keep-all;
  -webkit-text-size-adjust : none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.blind {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}


/* header */
#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  padding: .7rem;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
  text-align: center;
}

#header h1 {
  font-size: 1.8rem;
}

/* form-container */
#form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 6%;
  background-color: #fff;
}

/* form-group */
.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 40rem;
  padding: 3rem;
}

.form-group > :not(:first-child) {
  margin-top: 2.5rem;
}


/* form-group input style */
.pop-form-group input {
  width: 100%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  font-weight: 300;
  outline: none;
}

.pop-form-group .input-style {
  padding: .4rem 0 .8rem;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

/* form-group button style */
.btn-primary {
  width: 100%;
  padding: 1rem;
  background-color: steelblue;
  font-weight: 500;
  color: #fff;
}

/* footer */
#footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding: .3rem;
  background-color: #000;
  text-align: center;
}

#footer small {
  font-weight: 300;
  color: #fff;
}

.modal-popup {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  padding: 0 6%;
  background-color: rgba(0,0,0,.2);
}

.pop-form-container {
  display: none;
  position: relative;
  width: 100%;
  max-width: 40rem;
  padding: 2rem;
  background-color: #fff;
}

.modal-popup.active {
  display: flex;
}

.pop-form-container.active {
  display: block;
}

.pop-form-container > h2 {
  padding-bottom: .6rem;
  border-bottom: 2px solid #333;
  font-size: 1.6rem;
  
}

.pop-form-container .pop-form-group {
  margin-top: 2rem;
}

.pop-form-container .pop-form-group > :nth-child(n) {
  margin-top: 1.2rem;
}

.pop-form-container .pop-form-group .btn-primary {
  margin-top: 2rem;
}

.btn-close {
  position: absolute;
  top: .5rem;
  right: 1rem;
  font-weight: 700;
  font-size: 2rem;
}